---
import { getAllProposals, getGlobalState } from "@/api";

import Layout from "@/layouts/Layout.astro";
import LandingPage from "@/layouts/LandingPage.astro";

import { HeroAnimation } from "@/components/HeroAnimation/HeroAnimation";
import { ProposalListHeaderIsland } from "@/components/ProposalListHeader/ProposalListHeader";

import { StackedListIsland } from "@/recipes";
import { TestnetDispenserBannerIsland } from "@/components/TestnetDispenserBanner/TestnetDispenserBanner";
import HeroIsland from "@/components/Hero/Hero";

const title = "Algorand xGov";
const description =
  "xGov is a decentralized, on-chain platform enabling Algorand consensus participants to fund builders across the ecosystem.";

let registry = await getGlobalState();
let proposals = await getAllProposals();
---

<Layout description={description}>
  <HeroAnimation client:only="react" />
  <LandingPage>
    <div
      class="relative min-h-[35.8rem] md:min-h-[37.8rem] lg:min-h-[39.8rem] xl:min-h-[39.8rem] 2xl:min-h-[37.8rem] bg-algo-blue dark:bg-algo-teal rounded-b-3xl xs:px-2 mb-2 lg:px-8 overflow-hidden"
    >
      <HeroIsland
        slot="hero"
        client:only="react"
        title={title}
        description={description}
        xgovs={Number(registry?.xgovs) || 0}
        proposals={proposals.length}
        treasury={Number(registry?.outstandingFunds) / 1e6 || 0}
        votes={Number(registry?.committeeVotes) || 0}
      />
    </div>

    <div
      id="list-header-title-anchor"
      class="h-40 absolute top-[-5rem] pointer-events-none"
    >
    </div>
    <TestnetDispenserBannerIsland client:only="react" />
    <div class="min-h-10 flex items-center justify-between mb-4 px-3">
      <div class="sm:flex-auto">
        <h1
          id="list-header-title"
          class="text-lg sm:text-2xl md:text-4xl font-semibold text-algo-blue dark:text-algo-teal"
        >
          Active Proposals
        </h1>
      </div>
      <ProposalListHeaderIsland client:only="react" title="Active Proposals" />
    </div>
    <div class="min-h-80 flex flex-col gap-y-4">
      <StackedListIsland client:only="react" proposals={proposals} />
    </div>
  </LandingPage>
</Layout>
